
/* chart css adapted from D3 examples at https://d3js.org/ */

/*For bar chart*/
/*TBD add class to bar chart div to keep css for charts separate?*/
.axis .domain {
  display: none;
}
  
/*Rectangle bar class styling*/

.bar {
  fill: #0080FF
}

.bar:hover {
  fill: #003366
}

/*not working*/
/*
.cBar {
  width: 700px;
  height: 500px;
}
.cBar svg {
  width: 600px;
  height: 450px;
}
*/


/* For pie chart */
.cPie {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 960px;
  height: 500px;
  position: relative;
}
.cPie path.slice{
	stroke-width:2px;
}
.cPie polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
} 
.cPie svg text.percent{
	fill:white;
	text-anchor:middle;
	font-size:12px;
}