
/* chart css adapted from D3 examples at https://d3js.org/ */

/*For bar chart*/
/*TBD add class to bar chart div to keep css for charts separate?*/
.axis .domain {
  display: none;
}
 
.cBar, .cPie {
  margin: 1% 5%;
  text-align: center;
}

/* For chart tool tips*/
.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}
svg rect:hover, .topSlice:hover, .outerSlice:hover, .innerSlice:hover {
  fill-opacity: 1;
}
svg rect {
  fill-opacity: .4;
}
.topSlice, .innerSlice, .outerSlice {
  fill-opacity: .6;
}
.legend {
  position: fixed!important;
  left: 0;
  top: 0;
  
}

/*Rectangle bar class styling*/

/*
.bar {
  fill: #0080FF
}
*/

/*
.bar:hover {
  fill: #003366
}
*/

/*not working*/
/*
.cBar {
  width: 700px;
  height: 500px;
}
.cBar svg {
  width: 600px;
  height: 450px;
}
*/


/* For pie chart */
/*
.cPie {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 960px;
  height: 500px;
  position: relative;
}
.cPie path.slice{
	stroke-width:2px;
}
.cPie polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
} 
.cPie svg text.percent{
	fill:white;
	text-anchor:middle;
	font-size:12px;
}*/
