/* Edit this to override font and/or sizes set in w3pro.css*/

body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
}

.w3-bar .w3-button {
    padding: 16px;
}
th {
  vertical-align: bottom;
}

/* DMZ added in order to use opacity on background image*/
.bgimg-1 {
    background-position: center;
    background-size: cover;
    min-height: 100%;
    position: relative;
    background: #ffffff;
    overflow: hidden;
}
.bgimg-1:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    z-index: -1;
    opacity: .4;
    background-image: url("../images/one_dollar.jpg");
    background-repeat: no-repeat;
    background-position: center;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

a, a:hover,
a:focus {
  text-decoration-line: none;
}
.active {
  background-color: #f1f1f1;
  color: black;
}
.w3-top .active {
  background-color: #dbdada;
  color: black;
}
.categ li {
    list-style: none;
}
.subcat td {
  font-weight: bold;
}
.hide { display: none; }
/*
.subMenu a:focus,.subMenu a:hover {
  background-color: #f1f1f1;
  color: black;
}
*/
.snug p {
  margin: 0;
}
.snug h4 {
  margin-bottom: 0;
}
.snug p:last-of-type {
  margin-bottom: 10px;
}
button:hover {
  text-decoration: none;
}

option {
  background-color: rgb(241, 241, 241);
}
.subMenu {
  margin-bottom: 20px;
}
.subMenu a {
  font-size: 12px;
  line-height: .2;
  padding: 8px;
}
table select {
  background-color: white;
}
table.detail {
  background-color: #e3e3e3;
  color: grey;
}
.results {
  font-size: 15px;
  margin-top: 0;
}
.results table, .scrollit_y {
  max-width: 800px;
  width: 100%;  
}
.results table, .results p {
  line-height: 1.2;
  margin: auto;
}
.results thead, .results table:first-child, .results thead tr {
  padding-right: 20px;
}

.results td, .results th {
  padding: 0 10px;
}
.results td {
  text-align: left;
}
.results td:nth-child(3) {
  text-align: right;
}
.results td:nth-child(1) { 
  width: 35%;
}
.results td:nth-child(2) { 
  width: 15%;
}
.results td:nth-child(3) {
  width: 15%;
}
.results th:nth-child(1) { 
  width: 32%;
}
.results th:nth-child(2) { 
  width: 12%;
}
.results th:nth-child(3) {
  width: 15%;
}
.results th { 
  text-align: center;
}
.results th:last-child { 
  text-align: left;
}
td {
/*  border: 1px solid darkgrey;*/
  border-collapse: collapse;
}
.scrollit_y {
  border: 1px solid darkgrey;
  background-color: #fffefe;
  height:240px;
  margin: 0 auto;
  overflow-x:hidden;
  overflow-y:scroll;
}

.actual a:hover,.actual a:focus, .actual p {
  color: rgb(63, 81, 181);
}
.budget a:hover, .budget a:focus, .budget p {
  color: rgb(0, 150, 136);
}
.scrollit_y a, .categ h3 {
  color:darkgrey;
}
.entry p {
  margin-bottom: 0;
}
.results button {
  margin-bottom: 10px;
}
.entry select, .entry input {
  width: 100%;
  padding: 0 2px;
}


.w3-third p {
    display: inline;
}
.w3-half div {
  padding-right: 16px;
}
.w3-half div:last-child {
  padding-right: 0;
}
.entry {
  margin: 20px 0;
}
.actual p, .budget p {
  margin: 4px 3px 0 3px;
  font-weight: bold;
}

.results, .summary, .settings {
  padding: 56px 0;
}
.w3-top {
  font-size: .9em;
}

/*turn off spinner in number inputs*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.dateSel {
  margin: 15px 0;
  display:inline-flex;
}
select {
/*  font-size: 80%;*/
  line-height: 1;
}
